/* common  */

body{
    font-family: 'Roboto', sans-serif;
    background: #f7f4f4;
    width: 100%;
}
/* Start  */

/* Header 1  */

.firstheaderh3{margin-top: 87px;margin-left: 120px}

/* First Section   */

.section1{
    display: flex;
}

/* First Division  */

.section1div1{
    margin-top: 145px;margin-left: 120px;
}

.firsth1{
    font-size: 52px;
}

.firsta{
    text-decoration: none;
    color: #ffffff;
    background-color: royalblue;
    border-radius: 10px; 
    padding: 10px 40px
}

/* Second Division  */

.section1div2img1{
position: absolute;
width: 440px;
height: 414px;
left: 835px;
top: 211px;
}
.section1div2img1:hover{
    transform: scale(1.15);
}

/* header 2  */

.secondheaderh2{
height: 70px;
width: 262px;
left: 588px;
top: 935px;
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 70px;
padding: 100px 588px

}

/* Second section  */

.section2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left:100px;padding-right: 50px;

   
}
.secondsectiondiv{
background-color: white;
height: 476px;
width: 329px;
left: 196px;
top: 1035px;
border-radius: 5px;
margin: 30px 0px ;
padding-bottom: 50px;

}
.secondsectionimg{
    padding: 15px;
}
title{
display: inline;
height: 40px;
width: 151px;
left: 210px;
top: 1324px;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
padding: 15px


}
.value{
display: block;
height: 36px;
width: 82px;
left: 210px;
top: 1370px;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: left;


}
.star{
    display: flex;
    padding: 15px;
}
.star span{
    margin-left: 10px;
}
.fa-star.filled{
    color: gold;
}
.discription{
height: 61px;
width: 196px;
left: 210px;
top: 1433px;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.018em;
text-align: left;
padding: 15px;
}
.seconda{
    text-decoration: none;
    color: royalblue;
    padding-left: 1140px;

}

.section3{
    display: flex;
}

/*  Third section  */

.section3img{
    height: 270px;
    width: 404px;
    left: 165px;
    top: 2697px;
    border-radius: 7px;
    padding-left: 165px;
    
}
.section3div2{
    margin-left: 120px;
}
.thirda{
    text-decoration: none;
    color: #ffffff;
    background-color: royalblue;
    padding: 10px 40px
}
.secondh1{
height: 60px;
width: 610px;
left: 665px;
top: 2720px;
font-weight: 700px;
color: #7a75c5;

}
footer{
    background: #7a75c5;
    width: 100%;
   

}

.lastheaderh3{
height: 36px;
width: 243px;
left: 598px;
top: 3117px;
padding-left: 600px;
padding-top: 50px;

}
.lastdiv{
width: 50%;margin: auto;
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
}

/* end  */

/* media  */

@media only screen and (max-width:688px) {

    body{
        width:100%;
    }
        .section1{
    flex-direction: column;
    }
        
        .firstheaderh3{
     position: relative;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    transform: translate(100px,-50px)
    
        }
    .section1div2img1{
       
        width: 257px;
        height: 257px;
        left: 51px;
        top: 81px;
       padding-left: 54px;
       transform: translate(20px);
        }    
        .firsth1{
          
    width: 404px;
    height: 78px;
    left: -22px;
    top: 352px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    transform: translate(-40px,30px);
        }
        p{
           
    left: 5%;
    right: 5.83%;
    top: 7.32%;
    bottom: 91.61%;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    font-feature-settings: 'liga' off;
        }
        .section1 .section1div1 p{
            transform: translate(-120px,20px);
        }
        .firsta{
            height: 44px;
            width: 194px;
            left: 83px;
            top: 530px;
            border-radius: 41px;
            padding: 10px, 24px, 10px, 24px;
            
        }
        .secondheaderh2{
          transform: translate(-500px,-50px);}
          .section2{
            display: grid;
            grid-template-columns: repeat(1,1fr);
        }
        .secondh1{
            padding-left: 100px;
         }
        .section3{
           flex-direction: column;
        }
        .lastheaderh3{
         transform: translate(-300px);
         
            }
            .lastdiv{
                transform: translate(130px);
            }
            .lastlinks{
                display: flex;
            }
            h6{
                transform: translate(-90px);
            }
            .seconda{display: block;
             transform:translate(-1050px)}
           
           
    }
    @media only screen and (min-width:689px) and (max-width:992px) {

        body{
            width:100%;
        }
            .section1{
        flex-direction: column;
        }
            
            .firstheaderh3{
         position: relative;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        transform: translate(100px,-50px)
        
            }
        .section1div2img1{
           
            width: 257px;
            height: 257px;
            left: 51px;
            top: 81px;
           padding-left: 54px;
           transform: translate(20px);
            }    
            .firsth1{
              
        width: 404px;
        height: 78px;
        left: -22px;
        top: 352px;
        
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 42px;
        text-align: center;
        transform: translate(-40px,30px);
            }
            p{
               
        left: 5%;
        right: 5.83%;
        top: 7.32%;
        bottom: 91.61%;
        
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        font-feature-settings: 'liga' off;
        
            }
            .section1 .section1div1 p{
                transform: translate(-275px,10px);}
            .firsta{
                height: 44px;
                width: 194px;
                left: 83px;
                top: 530px;
                border-radius: 41px;
                padding: 10px, 24px, 10px, 24px;
                
            }
            .secondheaderh2{
              transform: translate(-350px,100px);}
              .section2{
                display: grid;
                grid-template-columns: repeat(2,0.1fr);
              
            }
            .section3{
               flex-direction: column;
            }
            .lastheaderh3{
             transform: translate(-300px);
             
                }
                .secondh1{
                   padding-left: 100px;
                }
                .section3 .section3div2 p{
                    padding-right: 400px;
                }
                .lastdiv{
                    transform: translate(-120px);
                }
                .lastlinks{
                    display: flex;
                    transform: translate(175px);
                }
                .seconda{display: block;
                    transform:translate(-1050px)}
        }
    